<mat-tab-group class="mat-group z-depth-2">
  <mat-tab label="Σύνδεση">
    <form [formGroup]="loginForm" fxLayout="column" (ngSubmit)="onSubmit()" fxLayoutAlign="space-between center" class="form">
      <mat-form-field class="example-full-width" [appearance]="'outline'" [floatLabel]="'always'">
        <mat-label>Email</mat-label>
        <input
          matInput
          required
          formControlName="email"
        />
        <mat-error *ngIf="email.invalid && email.touched">Το e-mail είναι απαραίτητο.</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width" [appearance]="'outline'" [floatLabel]="'always'">
        <mat-label>Κωδικός</mat-label>
        <input
          matInput
          required
          type="password"
          formControlName="password"
        />
        <mat-error *ngIf="password.invalid && password.touched">Το κωδικός είναι απαραίτητος.</mat-error>
      </mat-form-field>
      <button mat-stroked-button [disabled]="loginForm.invalid">Σύνδεση</button>
    </form>
  </mat-tab>
  <mat-tab label="Εγγραφή">
    <app-register></app-register>
  </mat-tab>
</mat-tab-group>
