<!--Double navigation-->
<header>

    <!-- Sidebar navigation -->
    <mdb-sidenav #sidenav class=" fixed" [fixed]="true">

        <logo>
            <!-- Logo -->
            <li>
                <div class="logo-wrapper waves-light">
                    <a href="#">
                        <img src="../../../assets/img/icon.png" class="img-fluid flex-center">
                    </a>
                </div>
            </li>
            <!--/. Logo -->
        </logo>

        <links>

            <!-- Side navigation links -->
            <li>
                <ul class="collapsible collapsible-accordion">
                    <mdb-squeezebox [multiple]="false" aria-multiselectable="false">

                        <mdb-item>
                            <mdb-item-head mdbWavesEffect>
                                <mdb-icon fas icon="tachometer-alt" class="mr-1"></mdb-icon> Dashboards
                            </mdb-item-head>
                            <mdb-item-body>
                                <ul>
                                    <li>
                                        <a routerLink="dashboards/v1" class="waves-effect" mdbWavesEffect>Version 1</a>
                                    </li>
                                    <li>
                                        <a routerLink="dashboards/v2" class="waves-effect" mdbWavesEffect>Version 2</a>
                                    </li>
                                    <li>
                                        <a routerLink="dashboards/v3" class="waves-effect" mdbWavesEffect>Version 3</a>
                                    </li>
                                    <li>
                                        <a routerLink="dashboards/v4" class="waves-effect" mdbWavesEffect>Version 4</a>
                                    </li>
                                    <li>
                                        <a routerLink="dashboards/v5" class="waves-effect" mdbWavesEffect>Version 5</a>
                                    </li>
                                </ul>
                            </mdb-item-body>
                        </mdb-item>
 
                        <mdb-item class="no-collase">
                            <mdb-item-head mdbWavesEffect routerLink="eyebrows-photos/create">
                                <i class="fa fa-th"></i> Φωτογραφίες
                            </mdb-item-head>
                            <mdb-item-body></mdb-item-body>
                        </mdb-item>

                    </mdb-squeezebox>
                </ul>
            </li>
            <!--/. Side navigation links -->
        </links>

    </mdb-sidenav>
    <!--/. Sidebar navigation -->


    <!-- Navbar -->
    <mdb-navbar SideClass="navbar navbar-expand-md scrolling-navbar double-nav" [containerInside]="false">
        <navlinks class="navbar-container">
            <!-- SideNav slide-out button -->
            <div class="float-xs-left">
                <a (click)="sidenav.show()" class="button-collapse-non-fixed">
                    <mdb-icon fas icon="bars"></mdb-icon>
                </a>
            </div>
            <!--/. SideNav slide-out button -->
        </navlinks>
        <logo>
            <!-- Breadcrumb-->
            <div class="breadcrumbs breadcrumb-dn mr-auto">
                <p>Διαχειριστικό ιστοσελίδας</p>
            </div>
            <!--/. Breadcrumb-->
        </logo>
        <navlinks>

            <ul class="nav navbar-nav nav-flex-icons ml-auto ie-double-nav">
                <li class="nav-item">
                    <a class="nav-link waves-light" mdbWavesEffect>
                        <mdb-icon fas icon="user" class="mr-1"></mdb-icon>
                        <span class="clearfix d-none d-sm-inline-block">Λογαριασμός</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" mdbWavesEffect>
                        <mdb-icon fas icon="user" class="mr-1"></mdb-icon>
                        <span class="clearfix d-none d-sm-inline-block">Αποσύνδεση</span>
                    </a>
                </li>
            </ul>

        </navlinks>

    </mdb-navbar>
    <!--/. Navbar -->

</header>
<!--/.Double navigation-->